@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Charm", system-ui;
    transition: all 0.2s linear;
}
    html::-webkit-scrollbar-thumb:hover {
        background: #555; /* Change la couleur du pouce au survol */
    }