@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Charm", system-ui;
    transition: all 0.2s linear;
}
:root{
    --box-shodow: 0 0.5rem 0.5rem rgba(87, 64, 16, 0.747);
    --mincolor: rgb(71,71,71);
    --sc-color: rgb(68, 48, 6);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1001px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
     padding:15px ;
     transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 150px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    padding: 5px 10px;
}