@import url(https://fonts.google.com/specimen/Charm);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: 0; border: 0;
    font-family: 'Ms Madi', cursive;
    font-family: 'Square Peg', cursive;
    transition: all 0.2s linear;
}